<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Audio Transcriber</title>
</head>
<body>
    <form action="/transcriber/transcribe" method="post" enctype="multipart/form-data">
        <div class="transcriber">
            <div class="container">
                <h1>Audio Transcriber</h1>
                <div>
                    <label for="file" class="custom-input">Select File</label>
                    <input id="file" type="file" name="file" accept="audio/*" required>
                    <input id="file-path" class="file-path" type="input" disabled>
                    <div class="img-container">
                        <img class="vinyl" src="{{ url_for('static', filename='vinyl.png') }}" alt="vinyl">
                        <img class="violin-key" src="{{ url_for('static', filename='violin-key.png') }}" alt="">
                    </div>
                </div>
                <button type="submit">Transcribe</button>
            </div>
        </div>
    </form>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
